* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



#navbar {
    background-color: rgb(204, 197, 197);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    /* border: red 2px solid; */
    padding: 10px;

}


#resume-logo {
    margin: 6px;
}




.button-77 {
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01,sans-serif;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    margin: 0;
    min-height: 64px;
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
  }
  
  @media (min-width: 768px) {
    .button-77 {
      padding: 19px 32px;
    }
  }
  
  .button-77:before,
  .button-77:after {
    border-radius: 80px;
  }
  
  .button-77:before {
    background-color: rgba(249, 58, 19, .32);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -2;
  }
  
  .button-77:after {
    background-color: initial;
    background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    bottom: 4px;
    content: "";
    display: block;
    left: 4px;
    overflow: hidden;
    position: absolute;
    right: 4px;
    top: 4px;
    transition: all 100ms ease-out;
    z-index: -1;
  }
  
  .button-77:hover:not(:disabled):after {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    transition-timing-function: ease-in;
  }
  
  .button-77:active:not(:disabled) {
    color: #ccc;
  }
  
  .button-77:active:not(:disabled):after {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
    bottom: 4px;
    left: 4px;
    right: 4px;
    top: 4px;
  }
  
  .button-77:disabled {
    cursor: default;
    opacity: .24;
  }
#body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    gap: 40px;
    padding: 10px;
    /* border: 1px blue solid; */
}


#template-type {
    display: flex;
    flex-direction: column;
    gap: 12px;

}


#template-type-text {
    font-weight: bold;
    font-size: 15px;
}

#type {
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(255, 209, 173);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 450px;
    padding: 0.6rem 1rem;
    /* border: 2px blue solid; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#bg-color,
#text-col {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#bg-color::-webkit-color-swatch,
#text-col::-webkit-color-swatch {
    border-radius: 8px;
    border: none;
}

#bg-color::-moz-color-swatch,
#text-color::-moz-color-swatch {
    border-radius: 15px;
    border: none;
}

#header-color-changers img {
    display: none;
}

#header-text-color {
    font-weight: bold;
    font-size: 15px;
}

#personal-detail-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 450px;
    font-size: 15px;
    font-weight: bold;
}

.personal-name {
    border: 2px black dashed;
    height: 30px;
    padding: 1rem;
    outline: none;

}



#proffesional-detail-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 450px;
    font-size: 15px;
    font-weight: bold;
}



#job-desc {
    height: 100px;
}

#outer-employement-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 450px;
    font-size: 15px;
    font-size: 15px;
    font-weight: 500;
}

#inner-employement-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 450px;
    font-size: 15px;
    /* border: 1px red solid; */
    box-sizing: border-box;
    /* height: auto; */
    /* display: none;  */

}

.input-text1-style {
    font-size: 30px;
    font-weight: 500;

}


#inner-empl-parent {
    display: none;
}

.add-button {
    padding: 12px;
    width: 28rem;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819 51%, #FF512F 100%);
    cursor: pointer;
}

.add-button:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.add-button:active {
    transform: scale(0.95);
}

#emp-desc {
    height: 100px;
}

#outer-project-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 450px;
    font-size: 15px;
    font-size: 15px;
    font-weight: 500;
}

#inner-education-detail {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 450px;
    font-size: 15px;
    /* display: none; */

}

#inner-edu-parent {
    display: none;
}



#edu-desc {
    height: 100px;
}

#proj-desc {
    height: 100px;
}



#inner-project-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 450px;
    font-size: 15px;
    /* display: none; */

}

#inner-proj-parent {
    display: none;
}

#parent-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fd9f85c9 100%);
}

#resume-field {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 150px;
    /* border: 1px red solid; */
    box-shadow: 0 0 10px rgb(116, 100, 112);
    overflow-y: hidden;
    width: 800px;
    height: 1180px;
    /* display: none; */
    overflow-x: hidden;
    background-color: white;

}

#res-header {
    display: flex;
    justify-content: space-between;
    height: 190px;
    width: 600px;
    margin-left: -100px;
    background-color: white;
    /* border: 1px red solid; */
    /* padding: 15px; */
}

#res-header-flex {
    /* border: 1px red solid; */
    width: 400px;
    height: 150px;

}

#res-name {
    overflow: hidden;
    color: #32485F;
    /* border: 1px  red solid; */
    font-size: 35px;
    font-weight: bold;
    /* border: 1px red solid; */
    margin: 30px 0 0 50px;
    width: 310px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#res-job-title {
    width: 330px;
    height: 40px;
    font-size: 27px;
    font-weight: 500;
    padding: 0;
    margin: 30px 0 0 50px;
    color: #32485F;
    /* border: 1px red solid; */
    overflow: hidden;

}

#res-header-cont {
    height: auto;
    width: 250px;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-left: -30px;
}

#res-cont-phone,
#res-cont-mail,
#res-cont-location {
    font-weight: 400;
    font-size: 18px;
    color: rgb(231, 226, 226);
    width: 150px;
    word-wrap: break-word;
}


#res-body {
    display: flex;
    flex-direction: row;
    /* margin: 10px; */
    /* gap: 15px; */
}

#res-bdy-right {
    padding: 10px;
    background-color:white;
    height: 1000px;
    width: 850px;
    /* border: 2px black solid; */

}

#res-bdy-left {
    background-color: #32485F;
    height: 1200px;
    padding: 10px;
    width: 300px;
    margin-top: -200px;
    /* box-shadow: 0 0 5px lightgray; */
    padding-left: 20px;

}

#icons {
    font-weight: 400;
    font-size: 25px;
    color: rgba(0, 255, 170, 0.582);
}

#res-cont-text,
#res-skill-text,
#res-hobbies-text,
#res-languages-text {
    font-size: 28px;
    color: white;
    font-weight: 500;
}

.res-body-ryt-text {
    font-weight: bold;
    color: rgb(243, 243, 243);
    background-color: rgb(43, 153, 187);
    padding: 4px;
}

#res-bdy-ryt-contain {
    /* border: 1px red solid; */
    max-height: 80px;
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;


}

#res-bdy-rt-exp-contain {
    /* border: 1px red solid; */
    max-height: 200px;
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;
    /* border: 2px solid red; */
}

#res-bdy-rt-proj-contain {
    /* border: 1px red solid; */
    max-height: 200px;
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;

}

#res-bdy-rt-edu-contain {
    /* border: 1px red solid; */
    max-height: 200px;
    font-size: 15px;
    font-weight: 500;
    overflow: hidden;
}

#skills,
#fetched-languages,
#fetched-hobbies {
    /* border: red 1px solid; */
    word-wrap: break-word;
    width: 190px;
    font-weight: 400;
    font-size: 16px;
    color: rgb(231, 226, 226);
}

#res-bdy-ryt-contain,
#res-bdy-rt-proj-contain,
#res-bdy-rt-exp-contain,
#res-bdy-rt-edu-contain {
    /* border: red 1px solid; */
    width: 400px;
    word-wrap: break-word;
}

#clear-btn {
    background-color: rgb(121, 118, 118);
    height: 20px;
    width: 150px;
    border: none;
    text-align: center;
    color: white;

}



/* media querries */
@media only screen and (max-width: 1270px) {
    #res-header-cont {
        height: auto;
        max-width: 400px;
        word-wrap: break-word;

        display: flex;
        flex-direction: column;
        gap: 4px;
        padding-right: 40px;
        display: none;
    }

    #header-cont-phone,
    #header-cont-mail,
    #header-cont-location {
        /* border: green 1px solid; */
        width: 110px;
        word-wrap: break-word;
        display: none;
    }

}

@media only screen and (max-width: 1270px) {
    #parent-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* width: 600px; */

    }

    #resume-field {
        display: flex;
        flex-direction: column;
        /* margin: 20px 0 20px 150px; */
        /* border: 1px red solid; */
        box-shadow: 0 0 5px gray;
        overflow-y: hidden;
        width: 500px;
        height: 1200px;
        /* display: none; */
        overflow-x: hidden;
        /* border: 1px red solid; */
        margin-left: 2px;

    }

    #res-header {
        display: flex;
        justify-content: space-between;
        height: 120px;
        width: auto;
        margin-left: -100px;
        /* border: 1px red solid; */
    }

    #res-name {
        overflow: hidden;
        color: #32485F;
        /* border: 1px  red solid; */
        font-size: 27px;
        font-weight: bold;
        /* border: 1px red solid; */
        margin: 30px 0 0 10px;
        width: 310px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    #res-job-title {
        width: 300px;
        height: 40px;
        font-size: 20px;
        font-weight: 500;
        padding: 0;
        margin: 20px 0 0 10px;
        color: #32485F;
        /* border: 1px red solid; */
        overflow: hidden;

    }

    #res-bdy-left {
        height: 1300px;
        padding: 10px;
        /* box-shadow: 0 0 5px lightgray; */
        width: 190px;
        padding-top: 70px;


    }

    #output {
        margin-top: 30px;
        width: 170px;
        height: 170px;
    }

    #res-bdy-right {
        padding: 10px;
        height: 1200px;
        width: 310px;
        /* border: 2px black solid; */
    }

    #summary-tex,
    #res-bdy-right-exp-text,
    #res-bdy-right-proj-text,
    #res-bdy-right-edu-text {
        font-weight: bold;
        color: rgb(243, 243, 243);
        background-color: rgb(43, 153, 187);
        padding: 4px;
        width: 290px;
    }

    #res-bdy-rt-exp-contain {
        /* border: 1px red solid; */
        max-height: 200px;
        font-size: 15px;
        font-weight: 500;
        overflow: hidden;
        /* border: 2px solid red; */
        max-width: 290px;
    }

    #res-bdy-rt-proj-contain {
        /* border: 1px red solid; */
        max-height: 60px;
        font-size: 15px;
        font-weight: 500;
        overflow: hidden;
        max-width: 290px;
    }

    #res-bdy-rt-edu-contain {
        /* border: 1px red solid; */
        max-height: 200px;
        font-size: 15px;
        font-weight: 500;
        overflow: hidden;
        max-width: 290px;
    }

    #res-bdy-ryt-contain {
        max-height: 200px;
        font-size: 15px;
        font-weight: 500;
        overflow: hidden;
        max-width: 290px;
    }

    #res-header-cont {
        height: auto;
        width: 160px;
        /* word-wrap: break-word; */
        display: flex;
        flex-direction: column;
        gap: 4px;
        display: none;
    }


}

@media only screen and (max-width: 1000px) {
    #parent-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* width: 600px; */

    }

    #resume-field {
        display: flex;
        flex-direction: column;
        /* margin: 20px 0 20px 150px; */
        /* border: 1px red solid; */
        box-shadow: 0 0 5px gray;
        overflow-y: hidden;
        width: 400px;
        height: 1100px;
        /* display: none; */
        overflow-x: hidden;
        /* border: 1px red solid; */
        margin-left: 2px;

    }

    #res-header {
        display: flex;
        justify-content: space-between;
        height: 90px;
        width: 400px;
        padding: 15px;
    }

    #res-cont-phone,
    #res-cont-mail,
    #res-cont-location {
        font-weight: 300;
        font-size: 15px;
        color: rgb(231, 226, 226);
        width: 110px;
        word-wrap: break-word;
    }

    #res-name {
        overflow: hidden;
        color: #32485F;
        font-size: 22px;
        font-weight: bold;
        /* border: 1px red solid; */
        margin: 15px 0 0 -10px;
        width: 310px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


    #res-job-title {
        margin: 10px;
        /* border: 1px red solid; */
        padding-left: -20px;
        height: auto;
        width: 200px;
        word-wrap: break-word;
        display: none;
    }

    #res-bdy-left {
        height: 1210px;
        padding: 10px;
        /* box-shadow: 0 0 5px lightgray; */
        /* border: 1px solid blue; */
        width: 150px;
        padding-top: 100px;

    }

    #skills,
    #fetched-languages,
    #fetched-hobbies {
        /* border: red 1px solid; */
        word-wrap: break-word;
        width: 140px;
        font-weight: 300;
        font-size: small;
    }

    #output {
        margin-top: 30px;
        width: 130px;
        height: 130px;
    }


    #res-bdy-right {
        padding: 10px;
        height: 1100px;
        width: 270px;
        /* border: 2px black solid; */
    }

    #clear-btn {
        background-color: rgb(121, 118, 118);
        height: 20px;
        width: 130px;
        border: none;
        text-align: center;
        color: white;

    }

    #signature-pad {
        width: 130px;
    }

    #summary-tex,
    #res-bdy-right-exp-text,
    #res-bdy-right-proj-text,
    #res-bdy-right-edu-text {
        font-weight: bold;
        color: rgb(243, 243, 243);
        background-color: rgb(43, 153, 187);
        padding: 4px;
        width: 220px;
    }

    #start-date-exp,
    #end-date-exp,
    #start-date-proj,
    #end-date-proj,
    #start-date-edu,
    #end-date-edu {
        display: none;
    }

    #res-bdy-rt-exp-contain {
        /* border: 1px red solid; */
        max-height: 200px;
        font-size: 15px;
        font-weight: 500;
        overflow: hidden;
        /* border: 2px solid red; */
        max-width: 210px;
    }

    #res-bdy-rt-proj-contain {
        /* border: 1px red solid; */
        max-height: 200px;
        font-size: 15px;
        font-weight: 500;
        overflow: hidden;
        max-width: 210px;
    }

    #res-bdy-rt-edu-contain {
        /* border: 1px red solid; */
        max-height: 200px;
        font-size: 15px;
        font-weight: 500;
        overflow: hidden;
        max-width: 210px;
    }

    #res-bdy-ryt-contain {
        max-height: 200px;
        font-size: 15px;
        font-weight: 500;
        overflow: hidden;
        max-width: 210px;
    }

    #res-header-cont {
        height: auto;
        width: 160px;
        /* word-wrap: break-word; */
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

}

@media only screen and (max-width: 891px) {
    #parent-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        /* width: 600px; */

    }

    #resume-field {
        display: flex;
        flex-direction: column;
        /* margin: 20px 0 20px 150px; */
        /* border: 1px red solid; */
        box-shadow: 0 0 5px gray;
        overflow-y: hidden;
        width: 460px;

        height: 1200px;
        /* display: none; */
        overflow-x: hidden;
        margin-left: 2px;

    }

    #res-header {
        display: flex;
        justify-content: space-between;
        height: 120px;
        width: 3500px;
        padding: 15px;
        /* border: 1px solid green; */
    }

    #res-bdy-left {
        height: 1300px;
        padding: 10px;
        /* box-shadow: 0 0 5px lightgray; */
        /* border: 1px solid blue; */
        width: 166px;
        padding-top: 70px;

    }

    #res-bdy-right {
        padding: 10px;
        height: 1200px;
        width: 240px;
    }

    #res-bdy-rt-exp-contain {
        /* border: 1px red solid; */
        max-height: 200px;
        font-size: 15px;
        font-weight: 500;
        overflow: hidden;
        /* border: 2px solid red; */
        max-width: 210px;
        /* display: none; */
    }

    #res-bdy-rt-proj-contain {
        /* border: 1px red solid; */
        max-height: 200px;
        font-size: 15px;
        font-weight: 500;
        overflow: hidden;
        max-width: 210px;
        /* display: none; */

    }

    #res-bdy-rt-edu-contain {
        /* border: 1px red solid; */
        max-height: 200px;
        font-size: 15px;
        font-weight: 500;
        overflow: hidden;
        max-width: 210px;
        /* display: none; */

    }

    #res-header-cont {
        /* border: 1px green solid; */
        height: auto;
        width: 160px;
        /* word-wrap: break-word; */
        display: flex;
        flex-direction: column;
        gap: 4px;
        /* display: none; */
    }

    #res-bdy-ryt-contain {
        /* border: 1px red solid; */
        max-height: 80px;
        font-size: 15px;
        font-weight: 500;
        overflow: hidden;
        /* display: none; */

    }

    #res-job-title {
        margin: 10px;
        /* border: 1px red solid; */
        padding-left: -20px;
        height: auto;
        width: 200px;
        word-wrap: break-word;
        /* display: none; */
    }

    #res-name {
        font-size: 25px;
        font-weight: bold;
        /* border: 1px red solid; */
        margin-left: 10px;
        width: 220px;
        word-wrap: break-word;
        /* display: none; */
    }


}

@media only screen and (max-width: 776px) {
    #parent-container {
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        /* width: 600px; */

    }
    

    #resume-field {
        display: flex;
        flex-direction: column;
        /* margin: 20px 0 20px 150px; */
        /* border: 1px red solid; */
        box-shadow: 0 0 5px gray;
        overflow-y: hidden;
        width: 460px;
        height: 1200px;
        /* display: none; */
        overflow-x: hidden;
        /* border: 1px red solid; */
        margin-left: 2px;

    }

    #res-bdy-right {
        padding: 10px;
        height: 1200px;
        width: 450px;
        /* border: 2px black solid; */
    }

    #res-bdy-left {
        height: 1400px;
    }


}
